<h1>Listing orders</h1>

<table>
  <tr>
    <th>Employeeid</th>
    <th>Customerid</th>
    <th>Productsku</th>
    <th>Orderquantity</th>
    <th>Orderprice</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.employeeID %></td>
    <td><%= order.customerID %></td>
    <td><%= order.productSKU %></td>
    <td><%= order.orderQuantity %></td>
    <td><%= order.orderPrice %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
